<%- include("../partials/header") %>

	<div class="main">
	  <div class="content-width">

	    <% if (msg) { %> 
	      <h2 class="email-head"><%= msg %></h2>
	    <% } %>

		<form action="/email-us/send" 
		      method="post"
		      >
			<input type="hidden" name="subject" value="Email from Website" />
			<input type="hidden" name="redirect" value="email/emailus" />
		    <P class="full small">Please enter your full name and email address (i.e. name@abc.com).</P>			
			<div>
				<label>Name: </label>
				<input type="text" name="name" />
			</div>
			<div>
				<label>E-Mail: </label>
				<input name="email" type="text" />
			</div>
		    <P class="full">
		    	<label>Please enter your message below.</label>
			    <textarea name="message" rows="10"></textarea>
			</p>
			<p class="full"><button type="submit">Submit</button></p>
		</form>

	  </div>
    </div>

<%- include("../partials/footer") %>