<%- include("./partials/header") %>

	<div class="main">
      <div class="content-width"> 
    	  <h2>Who We Are</h2>
    	  <p><%= content.who %></p>
    	  <h2>About our Director</h2>
          <div class="about-grid">
              <div class="head-shot"><img src="/images/Statsmart.png" alt="Photo missing" /></div>
        	  <p><%= content.director %></p>
          </div>    
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque purus semper eget duis. Quam id leo in vitae. Nisi est sit amet facilisis magna etiam tempor orci. Vulputate mi sit amet mauris commodo quis. Non blandit massa enim nec dui nunc mattis. Tempor commodo ullamcorper a lacus vestibulum sed arcu non odio. Elit duis tristique sollicitudin nibh sit. Massa vitae tortor condimentum lacinia quis. Posuere lorem ipsum dolor sit amet consectetur adipiscing. Mauris pellentesque pulvinar pellentesque habitant. Ut etiam sit amet nisl. Amet aliquam id diam maecenas ultricies mi eget mauris pharetra. In ante metus dictum at tempor. Tristique et egestas quis ipsum suspendisse ultrices gravida. Egestas diam in arcu cursus euismod. Magna ac placerat vestibulum lectus mauris ultrices eros.</p>
      </div>
    </div>



<%- include("./partials/footer") %>