<%- include("./partials/header") %>

	<div class="main">
	  <div class="content-width">
		  <h2>How School Psychiatrists Work</h2>
		  <p>Steps in our consultation process include:</p>
		  <ul>
		  	<li>Clarify the consultation question for an efficient use of resources</li>
		  	<li>Gather information from administrators, teachers, parents, students, and outside providers</li>
		  	<li>Review school records and outside evaluations</li>
		  	<li>Direct, in-classroom observation, as well as observation in less structured settings such as the lunch room and playground</li>
		  	<li>Synthesize input, communicate findings to relevant school officials, and family members when appropriate</li>	  		  		  		  	
		  </ul>
	  </div>
    </div>
    
<%- include("./partials/footer") %>