<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="aa statsmart">
    <meta name="keywords" content="bay area child psychiatrist, school psychiatrists, child psychiatrist, psychiatrists, school, schools">
    <meta property="og:url" content="https://www.aastatsmart.com/">
    <meta property="og:image" content="https://www.schoolpsychiatrists.com/images/schoolorg.gif">
    <meta property="og:description" content="The AA Stat Smart provides services to in the bay area.">
    <meta property="og:title" content="AA Statsmart ">
    <meta name="twitter:image" content="https://www.schoolpsychiatrists.com/images/schoolorg.gif">
    <meta name="twitter:description" content="AA">
    <meta name="twitter:title" content="aastatsmart">
    <meta name="robots" content="all">
    <meta name="author" content="Stuart L. Lustig">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <title>AA Statsmart</title>
</head>
<body>
	<div class="container">
		<div id="drawer-toggle-container">
			<button>
				<div class="toggle-button__line"></div>
				<div class="toggle-button__line"></div>
				<div class="toggle-button__line"></div>
			</button>
		</div>
		<div id="side-drawer">
			<ul>
				<li><a href="/">home</a></li>
				<li><a href="/approach">our approach</a></li>
				<li><a href="/services">our services</a></li>
				<li><a href="/about-us">about us</a></li>
			</ul>
		</div>

        <div id="backdrop"></div>

	    <div class="header header-column">
	    	<div class="home-icon">
	    		<a href="/"><img src="/images/Statsmart.png" alt="photo missing"></a>
	    	</div>
			<div class="nav-container">
				<ul class="nav-items">
						<li><a href="/approach">our approach</a></li>
						<li><a href="/services">our services</a></li>
						<li><a href="/about-us">about us</a></li>
				</ul>
			</div>
		</div>

		<div class="divide-line"></div>

	<div class="main">
	  <div class="content-width">
        <h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque purus semper eget duis. Quam id leo in vitae. Nisi est sit amet facilisis magna etiam tempor orci. Vulputate mi sit amet mauris commodo quis. Non blandit massa enim nec dui nunc mattis. Tempor commodo ullamcorper a lacus vestibulum sed arcu non odio. Elit duis tristique sollicitudin nibh sit. Massa vitae tortor condimentum lacinia quis. Posuere lorem ipsum dolor sit amet consectetur adipiscing. Mauris pellentesque pulvinar pellentesque habitant. Ut etiam sit amet nisl. Amet aliquam id diam maecenas ultricies mi eget mauris pharetra. In ante metus dictum at tempor. Tristique et egestas quis ipsum suspendisse ultrices gravida. Egestas diam in arcu cursus euismod. Magna ac placerat vestibulum lectus mauris ultrices eros.
	    </h3>
	  </div>
	</div>


			  <div class="footer">
				<div class="copyright">All material ©2021 AA STATSMART</div>
			    <div class="contact">
			        <a href="/email-us">
			          Email us
			        </a>
			    </div>
			  </div>
	</container>
</body>
</html>
