<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AA STATSMART provides statistical services to health care and pharmaceutical companies across the country.">
    <meta name="keywords" content="aa stat, statistical consulting, smart statistician">
    <meta property="og:url" content="https://www.aastatsmart.com/">
    <meta property="og:image" content="https://www.aastatsmart.com/images/Statsmart.png">
    <meta property="og:description" content="AA STATSMART provides statistical services to health care and pharmaceutical companies across the country.">
    <meta property="og:title" content="AA Statsmart ">
    <meta name="twitter:image" content="https://www.aastatsmart.com/images/Statsmart.png">
    <meta name="twitter:description" content="AA STATSMART provides statistical services to health care and pharmaceutical companies across the country.">
    <meta name="twitter:title" content="AA Statsmart">
    <meta name="robots" content="all">
    <meta name="author" content="Jingjing Wu">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <title>AA Statsmart</title>
</head>
<body>
	<div class="container">
		<div id="drawer-toggle-container">
			<button>
				<div class="toggle-button__line"></div>
				<div class="toggle-button__line"></div>
				<div class="toggle-button__line"></div>
			</button>
		</div>
		<div id="side-drawer">
			<ul>
				<li><a href="/">home</a></li>
				<li><a href="/about-us">about us</a></li>
				<li><a href="/email-us">contact</a></li>
			</ul>
		</div>

        <div id="backdrop"></div>

	    <div class="header header-column">
	    	<div class="home-icon">
	    		<a href="/"><img src="/images/Statsmart.png" alt="photo missing"></a>
	    	</div>
			<div class="nav-container">
				<ul class="nav-items">
					<li><a href="/">home</a></li>
					<li><a href="/about-us">about us</a></li>
					<li><a href="/email-us">contact</a></li>
				</ul>
			</div>
		</div>

		<div class="divide-line"></div>

	<div class="main">
	  <div class="content-width">
        <p>
          AA Statsmart is founded by an experienced statistician with over 18 years of experience in both RWE studies and clinical trials, in a wide spectrum of therapeutic areas including cardiovascular, metabolic, oncology, CNS, ophthalmology, and pain medicine. AA Statsmart has expertise in generalized estimating equation methods, generalized linear mixed models, longitudinal and repeated measurement analysis, time-to-event analysis, missing data multiple imputations, balancing methods, observational cohort studies and phase I through phase IV clinical trials. Our statistician is also skillful in statistical programming (SAS), project management and have a broad understanding of the domestic and international pharmaceutical development industry.
				</p>
	  </div>
	</div>


			  <div class="footer">
				<div class="copyright">All material ©2021 AA STATSMART</div>
			    <div class="contact">
			        <a href="/email-us">
			          Email us
			        </a>
			    </div>
			  </div>
	</container>
</body>
</html>
