body {
  background-color: #7A99A8;
  margin: 0;
  font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
}

.italic {
  font-style: italic;
}

img {
  width: 100%;
}

.container {  
  width: 100vw;
  max-width: 960px;
  margin: 0 auto;
}

.main {
  background-color: #F7EFE1;
  padding-top: 0;  
  padding-bottom: 0;
  margin: 0 auto 1em auto;
  border-radius: 0 0 15px 15px;
}

.content-width {
  max-width: 700px;
  margin: 0 auto;
  padding: 1em;
}

h2 {
    line-height: 1.8;
    font-size: 1.1em;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-inline-start: 20px;
    margin-inline-end: 1em;    
    padding: 0px;
}

h3 {
    line-height: 1.7;
    font-size: 1em;
    color: #333333;
    margin-inline-start: 20px;
    margin-inline-end: 1em;
}

P {
    line-height: 1.7;
    font-size: .9em;
    color: #000000;
    margin-inline-start: 20px;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0;
}

ul, ol {
  line-height: 1.7;
  font-size: 0.9em;
  color: #333333;
  margin-left: 2em;
  margin-right: 1em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.small {
  line-height: 1.2;
  font-size: .8em;
  color: #000000;
  margin-top: .6em;
  margin-bottom: .6em;
  padding: 0;
}

.response-block {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.dynamics-block {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

/* Backdrop, togglebutton styles for small screens */

#backdrop {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

#backdrop.open {
  display: block;
}

#drawer-toggle-container {
  position: absolute;
  right: 15px;
  top: 15px;
}

#drawer-toggle-container button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

#drawer-toggle-container button:focus {
  outline: none;
}

.toggle-button__line {
  width: 30px;
  height: 2px;
  background: #7A99A8;
}

#side-drawer {
  height: 90vmin;
  min-height: 380px;
  background: #b4ceda;
  box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  right: 0;
  width: 80vw;
  max-width: 350px;
  z-index: 200;
  -webkit-transform: translateX(200%);  
  transform: translateX(200%);
  transition: transform 0.4s ease-in-out;
}

#side-drawer.open {
  transform: translateX(0);
  -webkit-transform: translateX(0);  
}

#side-drawer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-left: 1em;
}

#side-drawer li {
  margin: 0.5rem 0.5rem;
}

#side-drawer a {
  color: #5B7C8C;
  text-decoration: none;
  font-size: 1.2rem;
}

#side-drawer a:hover,
#side-drawer a:active {
  color: #fa923f;
}

.divide-line {
  width: 100vw;
  height: 2px;
  background-color: #7A99A8;
}


/* header navigation */
.header {
  padding: 0.5em;
  background-color: #FFF;
  display: flex;  
  flex-direction: row;
  justify-content: space-between;  
}

.header .home-icon {
  align-self: flex-start;
  max-width: 150px;
}

.header .nav-container{
  align-self: flex-end;
  margin-block-start: 15px;
  margin-block-end: 10px;
  margin-inline-end: 15px;
}

.nav-items {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-inline-start: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.nav-items li{
  display: inline-block;
  text-align: left;
  font-size: 1rem;
  color: #7A99A8;
  margin-right: 1rem;
}

.nav-items a {
  color: #5B7C8C;
  text-decoration: none;
}

.nav-items a:hover,
.nav-items a:active {
  color: orange;
}

.nav-items li {
  line-height: 1.3;
}

/* FORM styles */
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

form label{
  display: block;
}

form p{
  margin: 0;
}

form .full{
  grid-column: 1 / span 2;
}

form button, form input, form textarea {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;  
  width:100%;
  padding:1em;
  border:1px solid #c9e6ff;
}

form button {
  background:#c9e6ff;
  border:0;
  text-transform: uppercase;  
}

form button:hover, form button:focus{
  background:#92bde7;
  color:#fff;
  outline:0;
  transition: background-color 2s ease-out;
}

.content-width .about-grid {
  display: grid;
  width: 100%;
  margin-inline-start: 20px;
  margin-top: .5em;
  margin-bottom: .5em;
  grid-template-columns: auto auto;
  grid-column-gap: 1em; 
}

.head-shot {
  width: 200px;
}

.about-grid p {
  display: flex;
  align-items: center;
}


.martin-list {
  list-style-type: none;
}

.line-spacer {
  padding-left: 3em;
}

.email-head {
  margin-inline-start: 0;
  margin-bottom: 20px;
}

.contact {
  margin-left: 2em;
}

.footer {
  margin-top: 1em;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a{
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .content-width {
    padding: .5em;
  }

  .footer {
    flex-direction: column;
  }

  .contact {
    margin-left: 0;
  }

  .nav-container {
    display: none;
  }

  h2 {
    line-height: 1.5;
    font-size: 1em;
    color: #000000;
    margin-top: 10px;
    margin-inline-start: 10px;    
  }

  p {
    margin-right: .8em;
  }

  .response-block {
    margin-inline-start: 15px;
    margin-inline-end: 15px;
  }

  .dynamics-block {
    margin-inline-start: 15px;
    margin-inline-end: 15px;
  }

  ul, ol {
    line-height: 1.5;
    font-size: 0.9em;
    color: #333333;
    margin-left: 0.9em;
    margin-right: 0.9em;
    padding-inline-start: 25px;
  }

  .content-width .about-grid {
    display: grid;
    width: 100%;
    margin-top: .5em;
    margin-bottom: .5em;
    grid-template-rows: auto auto;
    grid-template-columns: unset;
    grid-column-gap: unset;
    margin-inline-start: unset;
    grid-row-gap: 1em; 
  }

  .head-shot {
    width: unset;
    display: flex;
    justify-content: center;
  }

  .head-shot img {
    width: 250px;
    height: 312px; 
  }

  .about-grid p {
    display: unset;
  }


  form {
    max-width: 90vw;
    grid-template-columns: 1fr;
  }

  form .full{
    grid-column: 1 / span 1;
  }
}

@media screen and (min-width: 601px) {
  #drawer-toggle-container button{
    display: none;
  }

}


/*      <p class="full"><input type="submit" name="submit" value="Send Email" /></p> */