
			  <div class="footer">
				<div class="copyright">All material ©2021 AASTATSMART</div>
			    <div class="contact">
			        <a href="/email-us">
			          Email us
			        </a>
			    </div>
			  </div>
	</container>
	<script src="/client.bundle.js"></script>	
</body>
</html>