<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="AA STATSMART"
    />
    <meta
      name="keywords"
      content="AA STATSMART"
    />
    <meta property="og:url" content="https://www.aastatsmart.com/" />
    <meta
      property="og:image"
      content="https://www.aastatsmart.com/images/schoolorg.gif"
    />
    <meta
      property="og:description"
      content="AA STATSMART"
    />
    <meta property="og:title" content="AA Statsmart" />
    <meta
      name="twitter:image"
      content="https://www.aastatsmart.com/images/schoolorg.gif"
    />
    <meta
      name="twitter:description"
      content="AA STATSMART"
    />
    <meta name="twitter:title" content="AA Statsmart" />
    <meta name="robots" content="all" />
    <meta name="author" content="Jingjing Wu" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="theme-color" content="#ffffff" />
    <title>AA Statsmart</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <div class="container">
      <div id="drawer-toggle-container">
        <button>
          <div class="toggle-button__line"></div>
          <div class="toggle-button__line"></div>
          <div class="toggle-button__line"></div>
        </button>
      </div>
      <div id="side-drawer">
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="/approach">our approach</a></li>
          <li><a href="/services">our services</a></li>
          <li><a href="/about-us">about us</a></li>
        </ul>
      </div>

      <div id="backdrop"></div>

      <div class="header header-column">
        <div class="home-icon">
          <a href="/"><img src="/images/Statsmart.png" alt="photo missing" /></a>
        </div>
        <div class="nav-container">
          <ul class="nav-items">
            <li><a href="/approach">our approach</a></li>
            <li><a href="/services">our services</a></li>
            <li><a href="/about-us">about us</a></li>
          </ul>
        </div>
      </div>

      <div class="divide-line"></div>

